{% extends 'layout.html' %}

{% block main %}

<ol class="breadcrumb">
  <li><a href="/admin">管理首页</a></li>
  <li><span>分类列表</span></li>
</ol>

<h3>分类列表</h3>

<table class="table table-hover table-striped">
  <tr>
    <th>id</th>
    <th>分类名称</th>
    <th>操作</th>
  </tr>
  {% for category in categories %}
  <tr>
    <td>{{category._id.toString()}}</td>
    <td>{{category.name}}</td>
    <td>
      <a href="/admin/category/edit?id={{category._id.toString()}}">编辑</a>
      <a href="/admin/category/delete?id={{category._id.toString()}}">删除</a>
    </td>
  </tr> 
  {% endfor %}
</table>

{%include 'page.html'%}

{% endblock %}