<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
</head>
<body>
  <input class="name" type="text" value="iwen">
  <input class="password" type="text" value="123">
  <input class="repassword" type="text" value="123">

  <button class='submit-btn'>submit</button>

  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/index.js"></script>
</body>
</html>